__pycache__/
*.py[cod]
*.so

# Coverage reports
.coverage
coverage.xml
*.cover

# Virtual environments
.venv/
venv/

# Logs and temp
*.log
logs/
tmp/
*.tmp
*.swp
*.bak

# macOS
.DS_Store

# Python egg metadata
*.egg-info/

# Misc
.env
.pytest_cache/
sbom.xml

# Data handling
data/
!data/export/
!data/export/units.json
!data/export/categories.json
