# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Coverage reports
.coverage
coverage.xml
*.cover

# Virtual environments
.venv/
venv/

# Logs and temporary files
*.log
logs/
*.tmp
*.swp
*.bak

# macOS
.DS_Store

# Python egg metadata
*.egg-info/

# Misc
.env
sbom.xml
.pytest_cache/

# Ignore all files in data/…
data/*
# …except specific files
!data/units.json
!data/categories.json
